<h1>お墓内容編集</h1>

<%= @ohaka.name %>

<%= form_for :ohaka, url: ohaka_path(@ohaka),:html => { :'data-ajax' => false }, method: :patch do |f| %>
  <% if @ohaka.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ohaka.errors.count, "error") %> prohibited
      this ohaka from being saved:</h2>
    <ul>
    <% @ohaka.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
     <div class="thumbnail">
       <% if @ohaka.image? %>
        <%= image_tag @ohaka.image.thumb.url %>
        <% else %>
     　　<%= image_tag 'noimage.jpg' %>
     　<% end %>
     </div>
   <%= f.label :image %><br>
   <%= f.file_field :image %>
 </div>

  <p>
    <%= f.label :location, "活動していたところ" %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.submit "編集" %>
  </p>
<% end %>

<%= link_to 'ホーム画面へ', ohakas_path %>
