<div id="iei">
<%= link_to 'お墓新規作成', new_ohaka_path %>
<p>
  <div class="diedmans">
  <p>
    最も悔やまれた人
    <%= @most_name %>
  </p>
  <p>
    最近いなくなった人
    <%= @recent_name %>
  </p>

  </div>
  <%= form_tag ohakas_path, :method=> 'get', :html => { :'data-ajax' => false } do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "お墓を探す", :name => nil %>
  <% end %>
      <% @ohakas.each do |ohaka| %>
      <p>

        <% if ohaka.image? %>
      　　 <%= link_to image_tag(ohaka.image.thumb.url),ohaka_path(ohaka) %>
      　<% else %>
      　　<%= link_to image_tag( 'noimage.jpg') ,ohaka_path(ohaka)%>
      　<% end %>
          <%= ohaka.name %>
      </p>
      <% end %>
</p>
