<h1>お墓トップです</h1>
<%= link_to 'お墓新規作成', new_ohaka_path %>
<p>
  <h2>お墓検索</h2>
  <%= form_for :ohaka do |f| %>
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
      <%= f.submit '検索' %>
  <% end %>
  <div>
      <% @ohakas.each do |ohaka| %>
      <p>
        <%= ohaka.name %><br>
        <%= image_tag ohaka.image.thumb.url %>
        <%= link_to '編集', edit_ohaka_path(ohaka) %>
        <%= link_to '削除', ohaka_path(ohaka),
                    method: :delete, data: { confirm: '消しますか？' } %>
      </p>
      <% end %>
  </div>
</p>
