<h1>お墓トップです</h1>
<%= link_to 'お墓新規作成', new_ohaka_path %>
<p>
  <h2>お墓検索</h2>
  <%= form_tag ohakas_path, :method=> 'get', :html => { :'data-ajax' => false } do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "探す", :name => nil %>
  <% end %>
  <div>
      <% @ohakas.each do |ohaka| %>
      <p>
        <%= ohaka.name %><br>
        <% if ohaka.image? %>
      　　 <%= link_to image_tag(ohaka.image.thumb.url),ohaka_path(ohaka) %>
      　<% else %>
      　　<%= link_to image_tag( 'noimage.jpg') ,ohaka_path(ohaka)%>
      　<% end %>
        <%= link_to '編集', edit_ohaka_path(ohaka) %>
        <%= link_to '削除', ohaka_path(ohaka),
                    method: :delete, data: { confirm: '消しますか？' } %>
      </p>
      <% end %>
  </div>
</p>
