
<div id="ohaka">
  <div id="ohaka-name">
    <%= @ohaka.name %>
  </div>
    <div class="center">
    <%= image_tag "orin.jpg", :id=>"orin-button"  %>
    <%= image_tag "iei.png", :id=>"iei_back"  %>
    <%= image_tag "senkou.jpg", :id=>"senkou-button"  %>
    <div id="ohaka-thumbnail">
      <% if @ohaka.image? %>
      　　<%= image_tag @ohaka.image.thumb.url, :class=>"thumb_img"  %>
      　<% else %>
      　　<%= image_tag 'noimage.jpg', :class=>"thumb_img" %>
      　<% end %>
    </div>
  </div>
</div>




  <p>
  <%= @ohaka.location %>
  </p>

  <%= link_to 'ホーム画面へ', ohakas_path,:id => "show_link" %>
