
<div id="ohaka">
  <div id="ohaka-name">
    <%= @ohaka.name %>
  </div>
  <div id="ohaka-thumbnail">
    <% if @ohaka.image? %>
    　　<%= image_tag @ohaka.image.thumb.url %>
    　<% else %>
    　　<%= image_tag 'noimage.jpg' %>
    　<% end %>
  </div>
</div>



  
  <p>
  <%= @ohaka.location %>
  </p>
  
  <%= link_to 'ホーム画面へ', ohakas_path %>
