
<div id="ohaka">
  <div id="ohaka-name">
    <%= @ohaka.name %>
  </div>
  <div class="center">
    <a onClick="sound();"><%= image_tag "orin.png", :id=>"orin-button"  %></a>
    <%= image_tag "iei.png", :id=>"iei_back"  %>


    <%= image_tag "senkou.png", :id=>"senkou-button", :onclick=>"countup();" %>

    <div class="senko-count">
    </div>


    <div id="ohaka-thumbnail">
        <a href="<%= edit_ohaka_path(@ohaka)%>">
      <% if @ohaka.image? %>
      　　<%= image_tag @ohaka.image.thumb.url, :class=>"thumb_img"  %>
      　<% else %>
      　　<%= image_tag 'noimage.jpg', :class=>"thumb_img" %>
      　<% end %>
      </a>
    </div>

  </div>
</div>


<script type="text/javascript">
<<<<<<< HEAD

function countup(){
  url = '/ohakas/'+<%= @ohaka.id %>+'?type=countup';
  console.log(url);
  $.get(url);
}

=======

function countup(){
  url = '/ohakas/'+<%= @ohaka.id %>+'?type=countup';
  console.log(url);
  $.get(url);
}

>>>>>>> most name success
</script>


<p>
<%= @ohaka.location %>
</p>

<%= link_to 'ホーム画面へ', ohakas_path,:id => "show_link" %>

<audio id="sound-file" preload="auto">
  <source src="/orin.mp3" type="audio/mp3">
  <source src="/orin.wav" type="audio/wav">
</audio>

<script>
  $(window).load(function () {
    $("#senkou-button").click(function() {
      $("#senkou-button").auderoSmokeEffect({
         imagePath: "/assets/smoke.png",
         width: 100,
         height: 100,
         posX: 80,
         posY: 10,
         repeat: 1
         });
      });
  });
</script>

<h2>コメント一覧</h2>
<% @ohaka.comments.each do |comment| %>
  <p>
    <strong>名前:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>コメント:</strong>
    <%= comment.body %>
  </p>
  <HR noshade>
<% end %>

<h2>新規コメント</h2>
<%= form_for([@ohaka, @ohaka.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
